* {
  margin: 0;
  padding: 0;
}
.title {
  border-left: 3px solid rgb(255, 89, 89);
  font-size: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
}
#title-style {
  color: orange;
}
p {
  font-size: 20px;
  margin: 20px 0;
}
.btn {
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(255, 89, 89);
  display: block;
  margin: 15px 0;
  text-align: center;
  width: 120px;
  color: #fff;
  border-radius: 6px;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(216, 38, 38);
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}
.blog-items {
  width: 40%;
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 10%;
}
.container .blog-items img {
  width: 250px;
}
/* ======================== */

.mission-section {
  width: 100%;
  margin-bottom: 150px;
}
.mission-section .mission-blog {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  /* background-color: rgb(255, 89, 89); */
}
.mission-blog img {
  width: 120px;
}
.mission-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.box-items {
  height: 100%;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid blue; */
}
#goals {
  background-color: rgb(255, 244, 214);
}
