* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Luxurious Roman", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* header section start */

p {
  font-size: 20px;
  margin: 40px 0;
}
.btn {
  text-decoration: none;
  background-color: red;
  padding: 13px 35px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.6s;
  color: #ffffff;
}
.btn:hover {
  background-color: rgb(207, 85, 85);
  color: #ffffff;
}
.container {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
  /* background-color: rgb(206, 168, 168); */
}
.container .blog {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}
.blog-items {
  margin-top: 150px;
  height: 400px;
  width: 45%;
}
#title-border {
  font-size: 46px;
}
.vartical {
  background-color: red;
  width: 4px;
  height: 126px;
  margin-top: 17px;
  margin-right: 15px;
  border-radius: 50px;
  float: left;
}
#title-style {
  color: rgb(218, 184, 93);
}
.blog-items img {
  height: 100%;
  width: 100%;
}
/* header section end */

/* mission section start */

.mission-section {
  height: 600px;
  width: 100%;
}
.mission-section .mission-title {
  text-align: center;
  font-size: 50px;
}
.mission-section .mission-blog {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}
.mission-section .mission-blog .box-items img {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}
.mission-section .mission-blog .box-items {
  margin-top: 50px;
  height: 360px;
  width: 28%;
  border-radius: 10px;
  padding: 20px;
}
.mission-section .mission-blog .box-items h3 {
  font-size: 30px;
  font-weight: 600;
}

#mission {
  background-color: rgb(238, 234, 221);
  transition: 0.6s;
}
#mission:hover {
  background-color: rgb(218, 208, 181);
}
#vission {
  background-color: rgb(223, 235, 223);
  transition: 0.6s;
}
#vission:hover {
  background-color: rgb(215, 255, 214);
}
#goals {
  background-color: rgb(194, 190, 178);
  transition: 0.6s;
}
#goals:hover {
  background-color: rgb(255, 244, 214);
}

/* mission section end */
/* develop section start */
.develop {
  height: 500px;
  width: 100%;
  margin-bottom: 40px;
  /* background-image: url(../images/shapes/cercle-up-big.png); */
  background-repeat: no-repeat;
}
.develop .dev-blog {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.develop .dev-blog .dev-img {
  margin-top: 50px;
  height: 360px;
  width: 20%;
  border-radius: 10px;
  padding: 20px;
}
.develop .dev-blog .dev-title {
  margin-top: 75px;
  margin-left: 200px;
  height: 360px;
  width: 55%;
  border-radius: 10px;
  padding: 20px;
}
.develop .dev-blog .dev-title h3 {
  font-size: 40px;
  font-weight: 600;
}
.develop .dev-blog .dev-title p {
  font-size: 25px;
  line-height: 30px;
}
.develop .dev-blog .dev-img img {
  width: 400px;
  height: 400px;
}
/* develop section end */

/* Global section start */
.global-section {
  height: 600px;
  width: 100%;
  margin-bottom: 40px;
}
.global-section .global-content {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.global-section .global-content .global-title {
  margin-top: 100px;
  width: 50%;
  height: 400px;
}
.global-section .global-content .global-title h3 {
  font-size: 40px;
  font-weight: 600;
}
.global-section .global-content .global-title p {
  font-size: 25px;
  line-height: 30px;
}
.global-section .global-content .global-img {
  margin-top: 80px;
  height: 35%;
  width: 35%;
}
.global-section .global-content .global-img img {
  height: 100%;
  width: 100%;
}
/* Global section end */

/* Corona section start */

.corona-section {
  height: 650px;
  width: 100%;
}
.corona-section h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.corona-section .corona-content {
  width: 70%;
  height: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 30px;
}
.corona-section .corona-content .box-items {
  width: 50%;
  margin-top: 40px;
}
.corona-section .corona-content .box-title {
  width: 50%;
  margin-top: 40px;
}
.corona-section .corona-content .box-title p {
  line-height: 30px;
}
.corona-section .corona-content .box-title h3 {
  font-size: 40px;
  font-weight: bold;
}
.corona-section .corona-content .box-items img {
  width: 357px;
  margin-top: -68px;
  height: 551px;
}

/* Corona section end */
/* footer section start */

footer {
  height: 150px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
footer .footer-style {
  margin-top: 15px;
  font-size: 40px;
}
footer p {
  margin-top: 15px;
  font-size: 16px;
}
/* footer section end */
